
#animationContainer {
    /*position: absolute;*/
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    /*background: red;*/

    canvas {
        /*opacity: 0;*/
        position: relative;
    }


    .subtitles-wrapper {
        font-family: "Play", sans-serif;
        font-size: 24px;
        color: #36d6ae;
        text-align: center;
        position: absolute;
        bottom: 50px;
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
        min-height: 3.9em;
        padding: 0.75em 1em;
        opacity: 0;
        z-index: 10;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .subtitles {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text-wrapper {
        position: absolute;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.75em 1em;
    }

    .text-wrapper.textRelative {
        /*position: relative;*/
    }

    .column {
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
    }

    .column-right {
        left: initial;
        right: 0;
    }

    .column-left,
    .column-right {
        background: #ECECFB;
        box-shadow: 0 0 10px #ECECFB, 0 0 22px #012E97;
    }

    .column-back {
        width: 100%;
        background: rgb(3, 3, 107);
        background: linear-gradient(90deg, rgba(3, 3, 107, 1) 0%, rgba(3, 3, 107, 0) 25%, rgba(3, 3, 107, 0) 75%, rgba(3, 3, 107, 1) 100%);
    }




    @media(max-width: 1100px) {
        .subtitles-wrapper {
            font-size: 18px;
        }
    }
    @media(max-width: 980px) {
        .subtitles-wrapper {
            width: 80%;
        }
    }

    @media(max-width: 680px) {
        .subtitles-wrapper {
            font-size: 14px;
            min-height: 3.6em;
            padding: 10px 20px;
        }
        .text-wrapper {
            padding: 10px 20px;
        }
    }

}
