.startScreen{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    z-index: 10;

    svg {
        width: 100%;
        height: 100%;
        max-height: 80%;
        opacity: 0;
    }
    .genesis-text {
        font-family: 'Play', sans-serif;
        font-size: 90px;
        color: #ffffff;
        text-align: center;
    }
    .genesis-text-small {
        font-family: 'Play', sans-serif;
        font-size: 60px;
        color: #ffffff;
        text-align: center;
        opacity: .5;
    }
    .timer_container {
        font-family: 'Play', sans-serif;
        font-size: 70px;
        color: #ffffff;
        text-align: center;
    }
}
