@font-face {
    font-family: "Play";
    src:    url("../fonts/Play-Regular.woff") format("woff"),
            url("../fonts/Play-Regular.woff2") format("woff2");
    font-weight: normal;
}
@font-face {
    font-family: "Play";
    src:    url("../fonts/Play-Bold.woff") format("woff"),
            url("../fonts/Play-Bold.woff2") format("woff2");
    font-weight: bold;
}

h1,h2,h3,h4,h5,p,span{
    margin: 0;
    padding: 0;
}
